@import "./base/variables";
@import "./base/variables.en";
@import "./base/fonts.en";
@import "./base/mixins";
@import "./base/bg";
@import "./base/typography";

@import "./vendors/bootstrap/functions";
@import "./vendors/bootstrap/variables";
@import "./vendors/bootstrap/mixins";
@import "./vendors/bootstrap/helpers";


// Layout & components
@import "./vendors/bootstrap/bootstrap-reboot";
@import "./vendors/bootstrap/bootstrap-utilities";
@import "./vendors/bootstrap/bootstrap-grid";
@import "./vendors/bootstrap/root";
@import "./vendors/bootstrap/reboot";
@import "./vendors/bootstrap/type";
@import "./vendors/bootstrap/images";
@import "./vendors/bootstrap/containers";
@import "./vendors/bootstrap/grid";
@import "./vendors/bootstrap/tables";
@import "./vendors/bootstrap/forms";
@import "./vendors/bootstrap/buttons";
@import "./vendors/bootstrap/transitions";
@import "./vendors/bootstrap/dropdown";
@import "./vendors/bootstrap/button-group";
@import "./vendors/bootstrap/nav";
@import "./vendors/bootstrap/navbar";
@import "./vendors/bootstrap/card";
@import "./vendors/bootstrap/accordion";
@import "./vendors/bootstrap/breadcrumb";
@import "./vendors/bootstrap/pagination";
@import "./vendors/bootstrap/badge";
@import "./vendors/bootstrap/alert";
@import "./vendors/bootstrap/progress";
@import "./vendors/bootstrap/list-group";
@import "./vendors/bootstrap/close";
@import "./vendors/bootstrap/toasts";
@import "./vendors/bootstrap/modal";
@import "./vendors/bootstrap/tooltip";
@import "./vendors/bootstrap/popover";
@import "./vendors/bootstrap/carousel";
@import "./vendors/bootstrap/spinners";
@import "./vendors/bootstrap/offcanvas";

// layouts
@import "./base/reset";
@import "./mixins/transition";

// layouts
@import "./layouts/l-home";

// swiper
@import "./vendors/swiper";

// modules
@import "./modules/buttons";
@import "./modules/home-slider";
@import "./modules/main-header";
@import "./modules/main-footer";
@import "./modules/section-title";
@import "./modules/main-card";
@import "./modules/main-slider";
@import "./modules/light-gallery";